<%layout("/layouts/boilerplate")%>
<div class="row mt-4">
    <div class="col-8 offset-2">

    <h3>update Listing </h3>

    <form method="POST" action="/Listings/<%=lis._id%>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">
       <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%=lis.title%>" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
        <input name="listing[description]" value="<%=lis.description%>" class="form-control" required >
      </div>
      <div class="mb-3 ">
<p>Original Listing image</p>
<img src="<%=lis.image.url%>" alt="">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload new image</label>
        <input name="listing[image]" type="file" value="<%=lis.image%>" class="form-control" >
       
        </div>
        <div class="row">
 <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
        <input name="listing[price]" value="<%=lis.price%>"  class="form-control" required>
        </div>
       <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%=lis.location%>" class="form-control" required>
    </div>
</div>
       <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" value="<%=lis.country%>" class="form-control" required>
    </div>

<button class="btn btn-dark edit-btn mt-3 ">Edit</button>

    </form>
</div>
</div>


