<%layout("/layouts/boilerplate")%>
<style>
  .filter{
    margin-top: 2rem;
    margin-right: 1.5rem;
    text-align: center;
    opacity: 0.7;
  }
  #filters{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
    
  }

  .font{
    font-size: 1rem;
  }
</style>
 
   <div id="filters">
    <div class="filter">
     <div><i class="fa-solid fa-fire"></i></div> 
     <p>Trending</p> 
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div> 
      <p>Rooms</p> 
     </div>

     <div class="filter">
      <div><i class="fa-solid fa-city"></i></div> 
      <p>Iconic</p> 
     </div>
     <div class="filter">
       <div><i class="fa-solid fa-mountain-sun"></i></div> 
       <p>Mountains</p> 
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-gamepad"></i></div> 
        <p>castles</p> 
       </div>
       <div class="filter">
         <div><i class="fa-solid fa-archway"></i></div> 
         <p>Arctic</p> 
        </div>

        <div class="filter">
          <div><i class="fa-solid fa-route"></i></div> 
          <p>Camping</p> 
         </div>
         <div class="filter">
           <div><i class="fa-solid fa-cow"></i></div> 
           <p>Farms</p> 
          </div>


            <div class="filter">
              <div><i class="fa-solid fa-temperature-arrow-up"></i></div> 
              <p>heating</p> 
             </div>
             <div class="filter">
               <div><i class="fa-solid fa-tv"></i></div> 
               <p>TV</p> 
              </div>

              <div class="filter">
                <div><i class="fa-solid fa-person-dress-burst"></i></div> 
                <p>AC</p> 
               </div>
               <div class="filter">
                 <div><i class="fa-brands fa-firefox"></i></div> 
                 <p>fireplace</p> 
                </div>

                <div class="tax-toggle">
                  <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display taxes</label>
                  </div>
                </div>
   </div>
   



   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    
   <%for (let listing of allListing){ %>
    <a href="/Listings/<%=listing._id%>" class="listing-link">
   <div class="card col" >
    <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing-image" style="height: 20rem;" cursor="pointer">
    <div class="card-img-overlay">Akshay Dange</div>
    <div class="card-body">
     <b> <p class="card-text"><%=listing.title%></p></b>
        <%= listing.price.toLocaleString() %>/night
        <i class="tax-info"> &nbsp; &nbsp;+18% Gst</i>
    </div>
  </div>
</a>
  <% }%>
</div>
<hr>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <div class="card col mt-5">
    <div class="font"><i class="fa-sharp fa-solid fa-check-to-slot"></i></div> <br>
    <b><p>Enjoy some flexibility</p></b> 
    <p>Stays with flexible cancellation make it easy to rebook if your plans change.</p>
  </div>

  <div class="card col mt-5">
    <div class="font"><i class="fa-solid fa-house"></i></div> <br>
    <b><p>More than 7M active listings</p></b>
    <p>Join more than 1 billion guests who’ve found getaways in over 220 countries and destinations.</p>
  </div>

  <div class="card col mt-5">
    <div class="font"><i class="fa-brands fa-accessible-icon"></i></div> <br>
    <b><p>100+ filters for tailored stays</p></b>
    <p>Pick your price range, the number of rooms you want and other key amenities to find the stay that fits your needs.</p>
  </div>
</div>

   <!-- <ul>
   <%for (let listing of allListing){%>
<li><a href="/Listings/<%=listing._id%>"><%=listing.title%></a></li>

  <% }%> 
</ul>-->
<script>
  let taxSwitch= document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click" , ()=>{
   let taxInfo = document.getElementsByClassName("tax-info");
   for(info of taxInfo){
    if(info.style.display != "inline"){
      info.style.display = "inline";
    }else{
      info.style.display = "none";
    }
   }
  })
</script>

